/*
 * @Author: @Guojufeng 
 * @Date: 2019-06-06 10:21:41 
 * @Last Modified by:   @Guojufeng 
 * @Last Modified time: 2019-06-06 10:21:41 
 */
.mouseleave{
  width: 300px;
  height: 300px;
  border: 1px solid tomato;
}