@import '../var';
.saerch-bar{
  position: relative;
    padding-top: 28px;
    position: relative;
    .el-input__inner{
      border-color: $mainClr;
    }
    .el-input-group__append, .el-input-group__prepend{
      border-color: $mainClr;
      padding: 0px 35px;
      background: $mainClr;
      color: #fff;
      i {
        font-weight: bold;
        transform: scale(1.2);
      }
    }
}
.search-list{
  // display: none;
  position: absolute;
  top: 28 + 40px;
  left: 0;
  right: 87px;
  padding: 20px;
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #e5e5e5;
  border-top: 0;
  box-shadow: 0 3px 5px #e5e5e5;
}