/*
 * @Author: @Guojufeng 
 * @Date: 2019-06-29 21:43:48 
 * @Last Modified by: @Guojufeng
 * @Last Modified time: 2019-07-07 18:09:18
 * reset.scss
 */
body{
  margin: 0;
  background: #F8F8F8;
  font-family: "-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue","MIcrosoft YaHei",sans-serif!important
}
ul,
dl,
dd{
  padding: 0;
  margin: 0;
  list-style: none;
}
#app{
  min-height: 100vh;
  overflow: hidden;
}
