/*
 * @Author: @Guojufeng 
 * @Date: 2019-04-30 15:04:17 
 * @Last Modified by: @Guojufeng
 * @Last Modified time: 2019-04-30 15:04:39
 */
body{
  background: #edf;
  h1{
    background: #dae;
    color: brown;
  }
}