.baiduSearch{
  text-align: center;
}

.change {
  float: right;
  color: #1af;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
}

.list {

}

.item {
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: none;
}


.link {
  text-decoration: none;
  color: #333;
}

.number {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  color: #fff;
  background-color: #1af;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  vertical-align: 2px;
}
.one .number{
  background-color: #ff3434;
}
.two .number{
  background-color: #ff864c;
}
.three .number{
  background-color: #ffb74c;
}
.tag {
  padding: 2px;
  margin-left: 3px;
  color: #fff;
  background-color: tomato;
  border-radius: 3px;
  font-size: 12px;
  vertical-align: 2px;
}

.total {
  float: right;
}

.baiduSearch-logo {
  height: 40vmin;
}

.baiduSearch-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.baiduSearch-link {
  color: #09d3ac;
}
